@font-face {
    font-family: 'thempo';
    src: url('ThempoNewSt.ttf');
}

*{
	margin: 0; padding: 0; font-family: Gautami;
}
a{
	font-weight: bold;
	color: inherit;
}


.page1 {
	color: white;
	background-image: url('../images/back1.jpg');
}
.page2 {
	color: white;
	background-image: url('../images/back2.jpg');
}
.page3 {
	color: black;
	background-image: url('../images/back3.jpg');
}
.page4 {
	color: black;
	background-image: url('../images/back4.jpg');
}
.page5 {
	color: black;
	background-image: url('../images/back5.jpg');
}

section {
	margin:auto;
	
}
.wrapper{
	margin:auto;
	width: 70%;
}
.wrapper > p{
	margin-top: 40px;
	font-size: 20px;
}
.wrapper > img{
	float: right;
	margin-top: -300px;
}
nav {
	left:50px;
	top:18%;
	position:fixed;
	z-index: 99;
}
nav > button{
	outline: none;
	margin-top:20px;
	width: 180px;
	height: 50px;	
	background-color:#343434;
	border-radius: 8px;
	transition-duration: 0.4s;
	font-size:24px;
}
nav > button:hover{
	background-color: #6b6b6b;
}

h1 {
	margin-top: 100px;
}

b {
	color: #ffff90 !important;
	font-size: 24px;
}

.galleryContainer{
	width: 1000px;
	height: 563px;
}

.custom-navigation{
	display: table;
	width: 100%;
	table-layout: fixed;
	position: relative;
	top: -350px;
	margin-left: 10px 
}
.custom-navigation img{
	max-width: 30px;
}

.custom-controls-container{
	display: table-cell;
	width: 900px;
}